.box {
  margin: 20px;
  border: 1px inset black;
  box-shadow: 10px 10px;
  height: 740px;
  text-align: left;
}

.setting {
  margin: 20px;
  border: 1px inset black;
  box-shadow: 10px 10px;
  text-align: center;
  height: 740px;
  text-align: left;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.font-style {
  font-family: "Fragment Mono", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  /* identical to box height, or 67% */

  text-transform: uppercase;

  color: #000000;
}
